<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patrick.springboot.mapper.CartMapper">

    <select id="frontPage" resultType="com.patrick.springboot.entity.Cart">
        select c.*, g.name as goodsName, g.img as goodsImg, g.price, g.store, g.unit, g.transport, u.username , u.nickname
        from cart c left join goods g on c.goods_id = g.id left join sys_user u on c.login_id = u.id
    <where>
        <if test="name != null and name != '' ">
            and g.name like concat('%', #{name}, '%')
--             and g.name = like 'name'
        </if>
        <if test="role != null">
            and c.login_id = #{loginId}
        </if>
        <if test="sellerId != null and sellerId != '' ">
            and c.user_id = #{sellerId}
        </if>
    </where>
    </select>

    <select id="Page" resultType="com.patrick.springboot.entity.Cart">
        select c.*, g.name as goodsName, g.img as goodsImg, g.price, g.store, g.unit, u.username , u.nickname
        from cart c left join goods g on c.goods_id = g.id left join sys_user u on c.login_id = u.id
        <where>
            <if test="name != null and name != ''">
                and g.name = like concat('%', #{name}, '%')
            </if>
        </where>
    </select>
    <select id="sellersGoods" resultType="com.patrick.springboot.entity.Cart">
        select c.*, g.name as goodsName, g.img as goodsImg, g.price, g.store, g.unit, g.transport, u.username , u.nickname
        from cart c left join goods g on c.goods_id = g.id left join sys_user u on c.login_id = u.id
        <where>
            <if test="role != null">
                and c.login_id = #{loginId}
            </if>
            <if test="sellerId != null">
                and c.userId = #{sellerId}
            </if>
        </where>
    </select>

</mapper>