<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patrick.springboot.mapper.EvaluateMapper">

<!--    <select id="frontPage" resultType="com.patrick.springboot.entity.Evaluate"></select>-->
    <select id="frontPageSeller" resultType="com.patrick.springboot.entity.Evaluate">
        select c.*, g.name as goodsName, g.img as goodsImg, g.price, g.store, g.unit, g.transport, u.username , u.nickname as buyerName
        from evaluate c left join goods g on c.goods_id = g.id left join sys_user u on c.login_id = u.id
    <where>
        <if test="userId != null">
            and c.user_id = #{userId}
        </if>
    </where>
    </select>

    <select id="frontPageBuyer" resultType="com.patrick.springboot.entity.Evaluate">
        select c.*, g.name as goodsName, g.img as goodsImg, g.price, g.store, g.unit, g.transport, u.username , u.nickname as buyerName
        from evaluate c left join goods g on c.goods_id = g.id left join sys_user u on c.login_id = u.id
        <where>
            <if test="userId != null">
                and c.login_id = #{userId}
            </if>
        </where>
    </select>
</mapper>
