<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.patrick.springboot.mapper.SellerEvaluateMapper">

    <select id="frontPageSeller" resultType="com.patrick.springboot.entity.SellerEvaluate">
        select c.*, g.name as goodsName, g.img as goodsImg, g.price, g.store, g.unit, g.transport, u.username , u.nickname as buyerName
        from seller_evaluate c left join goods g on c.goods_id = g.id left join sys_user u on c.buyer_id = u.id
        <where>
            <if test="userId != null">
                and c.seller_id = #{userId}
            </if>
        </where>
    </select>

    <select id="frontPageBuyer" resultType="com.patrick.springboot.entity.SellerEvaluate">
        select c.*, g.name as goodsName, g.img as goodsImg, g.price, g.store, g.unit, g.transport, u.username , u.nickname as buyerName
        from seller_evaluate c left join goods g on c.goods_id = g.id left join sys_user u on c.buyer_id = u.id
        <where>
            <if test="userId != null">
                and c.buyer_id = #{userId}
            </if>
        </where>
    </select>
</mapper>
